.themeLight {
    --text-color: #111111;
    --text-color-tinted: #001052;
    --text-secondary-color: #808080;
    --background-color: white;
    --nav-background-color: #fafafafc;
    --background-secondary-color: #d4d4d4;
    --primary-tint-color: #eff2ff;
    --primary-tinter-color: #8ea6ff;
}

.themeDark {
    --text-color: #EEEEEE;
    --text-secondary-color: #808080;
    --background-color: black;
    --nav-background-color: #181818fc;
    --background-secondary-color: #111111;
    --primary-tint-color: #000822;
    --primary-tinter-color: #0026ad;
}