.themeLight {
    --text-color: #111111;
    --text-secondary-color: #808080;
    --background-color: white;
    --background-secondary-color: #EEEEEE;
}

.themeDark {
    --text-color: #EEEEEE;
    --text-secondary-color: #808080;
    --background-color: black;
    --background-secondary-color: #111111;
}