.navbar {
    height: var(--nav-height);
    /* line-height: var(--nav-height); */
    /* -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease; */
    transition: height 0.35s ease, line-height 0.35s ease;
    background-color: var(--background-color);
    z-index: 1;
}

.navbarShrink {
    height: var(--nav-height-shrink);
    /* line-height: var(--nav-height-shrink); */
    /* -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease; */
    background-color: var(--nav-background-color);
    border-bottom: 1px solid var(--background-secondary-color);
    
    box-shadow: 0 1px 2px rgba(0, 55, 255, 0.03);
    
    /* border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #bbbbbb, #dddddd); */
    transition: height 0.35s ease, line-height 0.35s ease;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menuWrapper {
    display: flex;
    height: 100%;
}

.siteName {
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 100%;
}

.siteName:hover {
    color: var(--primary-color);
}

.menuItemLink {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
}

.menuItemSecondary {
    color: var(--text-secondary-color);
}

.menuItemSecondary:hover {
    color: var(--primary-color);
}

.menuItemCurrent {
    /* font-weight: 600; */
    color: var(--primary-color);
}

.mobile {
    display: none;
}

.mobileOnly {
    display: none;
}

.overlay {
    display: none;
}
  
@keyframes menuItemSlide {
    from {
        color:rgba(0, 0, 0, 0.205);
        padding: 8px 16px;
    }
  
    to {
        padding: 16px;
        color: var(--text-secondary-color);
    }
}

@media only screen and (max-width: 632px) {
    .wrapper {
        width: auto;
        padding: 0 16px;
    }

    .mobileOnly {
        display: unset;
    }

    .menuWrapper {
        position: fixed;
        /* display: none; */
        flex-direction: column;
        align-items: flex-end;
        right: 0;

        /* reenable this if want sticking navbar */
        /* top: calc((var(--nav-height) + var(--nav-height-shrink))/2); */
        top: var(--nav-height);

        height: unset;
        z-index: 1000;
    }

    .menuMobileDisabled {
        display: none;
    }

    .menuMobileEnabled {
        display: flex;
    }

    .menuItemLink {
        font-size: 20px;
        font-weight: 600;
        z-index: 1000;
        animation: menuItemSlide 0.1s ease;
        padding: 16px;
        color: var(--text-color);
    }
    
    .mobile:focus {
        outline: initial;
    }
    .mobile {
        display: unset;
        height: 100%;
        /* padding: 16px 0 16px 16px; */
        outline: none;
        z-index: 1000;
    }


    .overlay {
        position: fixed;
        top: 0;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0.9) 100%);
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        z-index: 999;
    }
}