:root {
    --nav-height: 128px;
}

.navbar {
    height: var(--nav-height);
    transition: height 0.35s ease, line-height 0.35s ease;
    background-color: var(--background-color);
    z-index: 1;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.menuWrapper {
    display: flex;
    height: 100%;
}

.siteName {
    display: flex;
    align-items: center;
    font-weight: 600;
    height: 100%;
}

.siteName:hover {
    color: var(--primary-color);
}

.menuItemLink {
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: 16px;
    font-weight: 400;
    height: 100%;
    color: var(--text-color);
}

.menuItemLink:hover {
    color: var(--primary-color);
}

.mobile {
    display: none;
}

.mobileOnly {
    display: none;
}

.overlay {
    display: none;
}
  
@keyframes menuItemSlide {
    from {
        color:rgba(0, 0, 0, 0.205);
        padding: 8px 16px;
    }
  
    to {
        padding: 16px;
        color: var(--text-secondary-color);
    }
}

@media only screen and (max-width: 632px) {
    .wrapper {
        width: auto;
        padding: 0 16px;
    }

    .menuMobileEnabled .mobileOnly {
        display: unset;
    }

    .menuWrapper {
        position: fixed;
        flex-direction: column;
        align-items: flex-end;
        right: 0;
        top: var(--nav-height);
        height: unset;
        z-index: 4;
    }
    .menuMobileEnabled {
        display: flex;
        transition: all 110ms cubic-bezier(.2,0,.38,.9);
    }
    
    .menuMobileEnabled .menuItemLink {
        display: block;
    }

    .menuItemLink {
        display: none;
        font-size: 20px;
        font-weight: 600;
        z-index: 1000;
        padding: 16px;
        color: var(--text-color);
    }

    .expanding {
        animation-name: menuItemSlide;
        animation-duration: 0.2s;
        animation-timing-function: ease-out;
    }
    
    .collapsing {
        animation-name: menuItemSlide;
        animation-duration: 0.1s;
        animation-timing-function: ease-in;
        animation-direction: reverse;
    }

    .mobile:focus {
        outline: initial;
    }
    .mobile {
        display: unset;
        height: 100%;
        outline: none;
        z-index: 1000;
    }


    .overlay {
        position: fixed;
        top: 0;
        background: rgb(255,255,255);
        background: linear-gradient(270deg, rgba(255,255,255,1) 30%, rgba(255,255,255,0.9) 100%);
        width: 100vw;
        height: 100vh;
        overflow-y: hidden;
        z-index: 3;
    }
}