.navbar {
    height: var(--nav-height);
    line-height: var(--nav-height);
    /* -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease; */
    transition: height 0.35s ease, line-height 0.35s ease, background-color 0.1s linear;
    background-color: var(--background-color);
}

.navbarShrink {
    height: var(--nav-height-shrink);
    line-height: var(--nav-height-shrink);
    /* -webkit-transition: all 0.35s ease;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease; */
    background-color: var(--nav-background-color);
    border-bottom: 1.5px solid var(--background-secondary-color);
    
    box-shadow: 0 2px 5px rgba(0, 55, 255, 0.08);
    
    /* border-bottom: 1px solid;
    border-image-slice: 1;
    border-image-source: linear-gradient(to right, #bbbbbb, #dddddd); */
    transition: height 0.35s ease, line-height 0.35s ease, background-color 0.1s linear;
}

.wrapper {
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItem {
    display: inline-block;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 600;
}

.menuItemSecondary {
    color: var(--text-color);
}

.menuItemSecondary:hover {
    color: var(--primary-color);
}

.menuItemCurrent {
    /* font-weight: 600; */
    color: var(--primary-color);
}

.mobile {
    display: none;
}

@media only screen and (max-width: 632px) {
    .wrapper {
        width: auto;
        padding: 0 16px;
    }

    .desktop {
        display: none;
    }
    .mobile {
        display: unset;
    }
}